.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  grid-column: span 12;
  background-color: #99BBEE;
  padding: 20px;
  color: white;
  border-radius: 4px;
}

nav, footer {
  grid-column: span 12;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.col-span-12 { grid-column: span 12; }
.col-span-8  { grid-column: span 8; }
.col-span-6  { grid-column: span 6; }
.col-span-4  { grid-column: span 4; }

.circle {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #99BBEE;
}
a:link,a:visited {
  color: #99BBEE;
  text-decoration: none;
}
a:hover{
  color: #6e8fc7;
  text-decoration: underline;
}


/********** Components **********/
.button:link, .button:visited {
    color: white;
    background-color: #99BBEE; 
    text-align: center;
    text-decoration:none;
    padding:1rem 1.75rem;
    border-radius: .5rem;
    box-shadow: 0 .125rem .5rem rgba(0,0,0,.15);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.5s ease; 
}
.button:hover {
    background-color: #6e8fc7; 
}