body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../Images/y-so-serious-white.png"); 
}

header {
    background-color: #a0bcf4;
    color: white;
    padding: 45px 40px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

main {
    padding: 20px 40px;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: disc;
    padding-left: 20px; 
    margin: 0;
}

nav li {
    font-size: 16px;
    margin-bottom: 5px;
}

section h2 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 15px;
}

section h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 5px;
}

section p {
    margin: 0 0 15px 0;
}

aside {
    display: block;
    margin-top: 10px;
}

.profile-pix {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #a0bcf4;
}

footer {
    padding: 20px 40px;
    border-top: 1px solid #eee;
    margin-top: 40px;
}