body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url("../Images/y-so-serious-white.png"); 
}

header {
    background-color: #a0bcf4;
    color: white;
    padding: 45px 30px;
}

header h1 {
    margin: 0;
    font-size: 34px;
    font-weight: bold;
}

nav {
    margin-top: 25px;
    margin-bottom: 0;
}

nav ul {
    list-style-type: disc;
    padding-left: 45px;
    margin-bottom: 0;
}

nav li {
    font-size: 16px;
    margin-bottom: 3px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

section h2 {
    margin-top: 15px; 
    font-size: 26px;
    font-weight: 800; /* Matches the heavy weight in Adam's example */
    margin-bottom: 20px;
}

section h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

section p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
}

aside {
    display: block;
    margin-top: 35px;
}

.profile-pix {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid #a0bcf4;
}

footer {
    margin-top: 50px;
    padding: 25px 30px;
    border-top: 1px solid #eee;
    font-size: 14px;
}