body {
    margin: 0px 10%;
    font-family: sans-serif;
    background-image: url("../Images/y-so-serious-white.png"); 
}

.container {
    background-color: white;
}

header {
    background-color: #9abcf8;
    color: white;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

nav ul {
    padding: 1rem 2rem;
}

.content-area {
    padding: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

h3 { 
    font-size: 1.25rem;
}

.profile-wrapper {
    margin-top: 20px;
}

.circle { 
    border-radius: 50%; 
    border: 5px solid #9abcf8;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

footer {
    padding: 1rem 2rem;
    border-top: 1px solid #eeeeee;
}